---
---

@import "{{ site.theme }}"; 
@import "variables";

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #850707;
}


.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: #690404;
  background-image: linear-gradient(120deg, #db0404, #690404);

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
